textarea::placeholder,
input::placeholder {
    color: black !important;
}

.ant-picker {
    width: 100%;
}

.ant-input-number-in-form-item {
    width: 100%;
}

.button-edit {
    margin-left: 40px;
}