@import "~antd/dist/antd.css";

/* all */
.container .title h2 {
  font-weight: bold;
}

.container .title {
  margin-top: 20px;
  margin-bottom: 50px;
}
/* home */

.home {
  /* min-height: 30vh; */
  margin-top: 50px;
}

.home .contain-slider {
  display: flex;
  justify-content: center;
  /* min-height: 30vh; */
}

.home .contain-slider img {
  margin: auto;
  min-height: 40vh;
}

.change-password-card {
  margin: 0 auto 25px;
}
/* List Blog Management */

.search_and_add_blog {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/* User Manager */
.list-user {
  height: 700px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}


/* List Blog */

.row-list-blog {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-list-blog .col-list-blog {
    margin-top: 20px;
    margin-bottom: 20px;
}